<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{range .Keywords}} {{.}}, {{end}}">
    <link rel="stylesheet" href="index.css">
    <title>{{ .Title }}</title>
</head>

<body>
    {{range .Articles}}
    {{if .Public}}
    <article>
        <h1>{{.Title}}</h1>
        <h6>{{.Subtitle}}</h6>
        <hr>
        <div class="content">
            {{.Body}}
        </div>
    </article>
    {{end}}
    {{end}}
</body>

</html>